<div class="container">
  <%= form_for :post, url: posts_path, method: :post, html: { class: "form-horizontal" } do |f| %>
    Title    : <%= f.text_field :title, class: "form-control" %><br />
    Content  : <%= f.text_area :content, class: "form-control" %><br />
    <%= f.submit %>
  <% end %>

  <hr>

  <table style="width: 75%;">
    <% @posts.each do |post| %>
    <tr style="border-bottom: 1px dotted #eee;">
      <td style="padding: 1em 5em 1em 0;">
        <div id="post-title-<%= post.id %>">
          <%= post.title %> | by someone
        </div>
        <small><%= post.updated_at %></small>
        <div id="post-content-<%= post.id %>">
          <!-- work out some way to sub link text for actual links -->
          <!--post.content.gsub(/http:\/\/[\S]+/, link_to($1, url_for($1))) -->
          <%= post.content %>
        </div>
      </td>
      <td>
        <%= form_tag post_path(post), method: :delete, class: "form-inline" do %>
          <%= submit_tag "DELETE", class: "btn btn-sm" %>
        <% end %>
      </td>
      <td>
        <%= form_tag edit_post_path(post), method: :get, class: "form-inline" do %>
          <%= submit_tag "EDIT", class: "btn btn-sm" %>
        <% end %>
      </td> 
         
    </tr>
    <tr style="border-bottom: 1px solid #eee;">
      <td style="padding: 0.5em 0 1em 5em;" colspan="3">
        <%= form_for :comment, url: comments_path, method: :post do |f| %>
          Comment  : <%= f.text_area :content, class: "form-control" %><br />
          <%= f.submit "Add Comment", class: "btn btn-default btn-sm" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
