<!DOCTYPE html>
<html>
<head>
  <title>Awoc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header navbar-right">
        <a class="navbar-brand" href="<%= root_path %>">Athens Women of Color Message Board</a>
      </div>
    </div>

  </nav>

<%= yield %>

</body>
</html>
